$transred: #ff000025;
$greylight: #d8d8d821;
$greydark: #77777721;
$buttonhover: #b1b1b1;
$buttonlight: #f1f1f1;
$buttondark: #dfdfdf;
$border-red: 1px solid red;
$border-fadedBlack: 1px solid rgba(0, 0, 0, 0.3);